.contador {
    min-height: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-items: center;
    border: 8px solid white;
    margin-bottom: 15px;
}